// Views/Home/Index.cshtml
@{
    ViewData["Title"] = "Dashboard";
}

<div class="card">
    <div class="card-header">
        <h4>Dashboard</h4>
    </div>
    <div class="card-body">
        <p>Welcome to PoWorks dashboard.</p>
    </div>
</div>